/* ===================== Global styles ===================== */

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Raleway', sans-serif;
    background-color: #181818;
    overflow-x: hidden;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    a{
        text-decoration: none;
        ;
    }
}
