/* ===================== FOOTER ===================== */


.footer__container{
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;

    .footer__logo{
        width: 5%;
    }
    
}


