/* ===================== HEADER ===================== */




nav{
    background-color: #000000;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__container{
    padding: .5rem;
    .nav__link{
    margin: 0 4rem;
    font-size: 1.5rem;
    .nav__logo {
        width: 8%;
    }
}
.nav__logo {
    width: 8%;
}
}
